<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spotify</title>
    <link rel="stylesheet" href="{% static "styles.css" %}" />
</head>
<body>
    <div id="wrapper">
	<div id="header">
		<div id="menu">
	<a href="/">Главная</a>
	<a href="/janri/" >Жанры музыки</a>
    <a href="/Tracks/">Треки</a>
    <a href="/artists/">Исполнители</a>
</div>
	</div>
	<div id="container">
		<table>
		<div id="content">
			
                <form method="post">
    {% csrf_token %}
    
    <select name="artist" onchange="this.form.submit()">
        <option value="">Все исполнители</option>
        
        {% for artist_item in artists %}
            <option value="{{ artist_item.id }}" {% if artist_item == current_artist %}selected{% endif %}>
                {{ artist_item.name }}
            </option>
        {% endfor %}
    </select>
</form>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Длительность</th>
                        <th>Жанры</th>
                        <th></th>
                        <th></th>
                        </tr>
                        </thead>
            <tbody>
                {% for t in tracks %}
                <tr>
                    <td>{{t.id}}</td>
                    <td>{{t.title}}</td>
                    <td>{{t.duration}}</td>
                
                    <td>
                        {% for g in t.genres.all %}
                            {{g.name_en}},
                            {% endfor %}
                    </td>
                    <td><a href="/edite_track/{{t.id}}">Редактировать</a></td>
                    <td><a href="/delete_track/{{t.id}}">Удалить</a></td>    
                </tr>
                {% endfor %}    
            </tbody>       
            </table> 
            <a href="/add_track/">Добавить трек</a>  
		</div>
	</div>
	<div id="footer">
		footer
	</div>
</div>
</body>
</html>